.placeorder-stepper {
  margin-top: 2vh;
}

.placeorder-box {
  margin: 2vh 1vw !important;
  border: 1px solid black;
  padding: 2vh 1vw;
  border-radius: 10px;
}

.box3-placeorder {
  margin-top: 10px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.placeorder-box3-head {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box4-placeorder {
  margin: 2vh 1vw !important;
  border: 1px solid black;
  padding: 3vh 2vw;
  border-radius: 10px;
  list-style: none;
}

.placeorder-btn {
  margin-bottom: 1vh !important;
  background-color: #fed136 !important;
}
