.signin-btn-main {
  margin: 1vh auto !important;
  background-color: #fed136 !important;
}

.signup-btn-secondary {
  background-color: #fed136 !important;
  width: 100px;
  margin-left: 10px !important;
}
