html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  overflow-x: hidden;
  /* bottom = footer height */
}

@import "navbar";
@import "home";
@import "productScreen";
@import "cartScreen";
@import "signin";
