html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  overflow-x: hidden;
  /* bottom = footer height */
}

.menuSliderContainer {
  height: 100%;
  width: 200px;
  background-color: white;
  padding: 1rem;
}

.navbar-cart-btn {
  color: tomato !important;
  margin-right: 20px !important;
  text-decoration: none;
}

.navbar-user-name {
  text-decoration: none;
  color: whitesmoke;
  font-size: larger;
  font-weight: bolder;
}

.loading-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10vh;
}

.card {
  background-color: whitesmoke !important;
  width: 80%;
  margin: 2vh auto;
}

.mediaBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.media {
  height: 30vh;
  width: 80%;
}

.product-name {
  color: tomato;
}

.product-price {
  font-weight: bolder !important;
}

.loading-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10vh !important;
}

.product-grid-container {
  margin-top: 2vh !important;
}

.product-media {
  height: 70vh;
  width: 90%;
}

.rating-field-box {
  padding-left: 0;
}

.qty-control {
  width: 40%;
}

@media (max-width: 500px) {
  .product-media {
    height: 50vh;
  }
}

.cart-container {
  margin: 1vh 1vw;
}

.cart-table-container {
  max-height: 75vh;
}

.cart-image {
  height: 10vh;
  width: 80px;
}

.xs-grid {
  max-height: 70vh;
  overflow: auto;
}

.xs-cart-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3%;
}

.xs-cart-description-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 10vh;
  margin: auto 1vw;
}

.cart-confirm-xs {
  margin-top: 1vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cart-empty-box {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signin-btn-main {
  margin: 1vh auto !important;
  background-color: #fed136 !important;
}

.signup-btn-secondary {
  background-color: #fed136 !important;
  width: 100px;
}

.placeorder-stepper {
  margin-top: 2vh;
}

.placeorder-box {
  margin: 2vh 1vw !important;
  border: 1px solid black;
  padding: 2vh 1vw;
  border-radius: 10px;
}

.box3-placeorder {
  margin-top: 10px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.placeorder-box3-head {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box4-placeorder {
  margin: 2vh 1vw !important;
  border: 1px solid black;
  padding: 3vh 2vw;
  border-radius: 10px;
  list-style: none;
}

.placeorder-btn {
  margin-bottom: 1vh !important;
  background-color: #fed136 !important;
}
/*# sourceMappingURL=style.css.map */